sudo: required
services:
  - docker

before_install:
  - docker build -t docker-test-front -f Dockerfile.dev .

script:
  - docker run docker-test-front  npm run test -- --coverage

deploy:
  provider: heroku
  app: docker-react-test-app
  api_key:
    secure: $HEROKU_API_KEY
  on:
    branch: master
